{
    "openapi": "3.0.0",
    "info": {
        "title": "HYDRA - PCPA",
        "description": "**Polícia Civil do Estado do Pará** - API desenvolvida pelo Cyber Lab para facilitar a integração de sistemas internos da Polícia Civil do Estado do Pará. Esta API permite o acesso seguro a informações críticas, devendo ser usada de acordo com as políticas de segurança e privacidade estabelecidas pela organização.",
        "termsOfService": "https://policiacivil.pa.gov.br/termos-de-uso",
        "contact": {
            "name": "Equipe HYDRA - Cyber Lab",
            "email": "pc.hydra@policiacivil.pa.gov.br"
        },
        "license": {
            "name": "Proprietary",
            "url": "https://hydra.pc.pa.gov.br/licenca"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://hydra.pc.pa.gov.br/api",
            "description": "Servidor principal"
        }
    ],
    "paths": {
        "/v1/cadastroscivis": {
            "get": {
                "tags": [
                    "Consulta de Registros Civis"
                ],
                "summary": "Pesquisar registros civis",
                "operationId": "4b823b36708ceba1bdf81764416fb848",
                "parameters": [
                    {
                        "name": "nome",
                        "in": "query",
                        "description": "Nome do indivíduo",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "JOAO DA SILVA"
                        }
                    },
                    {
                        "name": "data_nascimento",
                        "in": "query",
                        "description": "Data de nascimento no formato YYYY-MM-DD",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "1980-01-01"
                        }
                    },
                    {
                        "name": "rg",
                        "in": "query",
                        "description": "Número do RG",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "123456789"
                        }
                    },
                    {
                        "name": "cpf",
                        "in": "query",
                        "description": "Número do CPF",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "12345678900"
                        }
                    },
                    {
                        "name": "mae",
                        "in": "query",
                        "description": "Nome da mãe",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "MARIA DA SILVA"
                        }
                    },
                    {
                        "name": "pai",
                        "in": "query",
                        "description": "Nome do pai",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "JOAO DA SILVA"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de registros civis encontrados",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CadastroCivil"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Nenhum registro encontrado"
                    },
                    "500": {
                        "description": "Erro interno do servidor"
                    }
                }
            }
        },
        "/v1/cadastrocivil/{id}": {
            "get": {
                "tags": [
                    "Consulta de Registros Civis"
                ],
                "summary": "Obter detalhes de um registro civil",
                "operationId": "2b3dab68f603fd8d2d21df3de686dbf8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do registro civil",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalhes do registro civil",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CadastroCivil"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Registro não encontrado"
                    },
                    "500": {
                        "description": "Erro interno do servidor"
                    }
                }
            }
        },
        "/v1/sisp": {
            "get": {
                "tags": [
                    "Consulta de Ocorrências SISP"
                ],
                "summary": "Pesquisar envolvidos no SISP",
                "operationId": "0d80a8f9fa3ff6b6e6ff8b02448afb69",
                "parameters": [
                    {
                        "name": "nome",
                        "in": "query",
                        "description": "Nome do envolvido",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "JOAO DA SILVA"
                        }
                    },
                    {
                        "name": "data_nascimento",
                        "in": "query",
                        "description": "Data de nascimento no formato YYYY-MM-DD",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "1980-01-01"
                        }
                    },
                    {
                        "name": "cpf",
                        "in": "query",
                        "description": "Número do CPF",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "12345678900"
                        }
                    },
                    {
                        "name": "mae",
                        "in": "query",
                        "description": "Nome da mãe",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "MARIA DA SILVA"
                        }
                    },
                    {
                        "name": "pai",
                        "in": "query",
                        "description": "Nome do pai",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "JOAO DA SILVA"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de envolvidos encontrados no SISP",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SispEnvolvido"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Nenhum envolvido encontrado"
                    },
                    "500": {
                        "description": "Erro interno do servidor"
                    }
                }
            }
        },
        "/v1/sisp/{id}": {
            "get": {
                "tags": [
                    "Consulta de Ocorrências SISP"
                ],
                "summary": "Obter detalhes de um BOP no SISP",
                "operationId": "7de6ee7ac955f6b80eadcdf65b46a15c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do BOP no SISP",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalhes do BOP no SISP",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SispBop"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "BOP não encontrado"
                    },
                    "500": {
                        "description": "Erro interno do servidor"
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Autenticação"
                ],
                "summary": "Autenticação de usuário",
                "operationId": "ec9c379d2a959de66404708dd4a9322d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "remember": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Usuário autenticado com sucesso.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user": {
                                            "$ref": "#/components/schemas/AuthApiResource"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Credenciais inválidas ou usuário inativo.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Credenciais inválidas!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Usuário não encontrado.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Usuário não encontrado!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno do servidor.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Erro interno do sistema."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/logout": {
            "post": {
                "tags": [
                    "Autenticação"
                ],
                "summary": "Logout do usuário autenticado",
                "operationId": "cc14526f9abd470d63047b1c05aef0c3",
                "responses": {
                    "204": {
                        "description": "Logout realizado com sucesso. Nenhum conteúdo retornado."
                    },
                    "401": {
                        "description": "Não autenticado.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Não autenticado."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/refresh-token": {
            "post": {
                "tags": [
                    "Autenticação"
                ],
                "summary": "Renovar o token de acesso",
                "operationId": "41aea4b95059eef8c3267c112ca1e24a",
                "responses": {
                    "200": {
                        "description": "Token renovado com sucesso.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Não autenticado."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AuthApiResource": {
                "title": "Autenticação API Resource",
                "properties": {
                    "name": {
                        "type": "string",
                        "example": "John Doe"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "john.doe@example.com"
                    }
                },
                "type": "object"
            },
            "CadastroCivil": {
                "title": "Cadastro Civil API Resource",
                "properties": {
                    "rg": {
                        "type": "string",
                        "example": "123456789"
                    },
                    "nome_completo": {
                        "type": "string",
                        "example": "JOÃO DA SILVA"
                    },
                    "nome_social": {
                        "type": "string",
                        "example": "JOÃO DA SILVA"
                    },
                    "data_nascimento": {
                        "type": "string",
                        "format": "date",
                        "example": "1980-01-01"
                    },
                    "cpf": {
                        "type": "string",
                        "example": "12345678900"
                    },
                    "mae": {
                        "type": "string",
                        "example": "MARIA DA SILVA"
                    }
                },
                "type": "object"
            },
            "SispBop": {
                "title": "Sisp BOP API Resource",
                "properties": {
                    "bop_id": {
                        "type": "integer",
                        "example": 12345
                    },
                    "bop": {
                        "type": "string",
                        "example": "BOP123456789"
                    },
                    "unidade_responsavel": {
                        "type": "string",
                        "example": "Delegacia XYZ"
                    },
                    "registros": {
                        "type": "string",
                        "example": "Registro123"
                    },
                    "data_registro": {
                        "type": "string",
                        "format": "date",
                        "example": "2024-01-01"
                    },
                    "data_fato": {
                        "type": "string",
                        "format": "date",
                        "example": "2024-01-01"
                    },
                    "natureza": {
                        "type": "string",
                        "example": "Roubo"
                    },
                    "bairro_fato": {
                        "type": "string",
                        "example": "Centro"
                    },
                    "meio_empregado": {
                        "type": "string",
                        "example": "Arma de fogo"
                    },
                    "local_ocorrencia": {
                        "type": "string",
                        "example": "Rua A"
                    },
                    "localidade_fato": {
                        "type": "string",
                        "example": "Cidade B"
                    },
                    "envolvidos": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SispEnvolvido"
                        }
                    },
                    "relato": {
                        "type": "string",
                        "example": "Descrição do relato do ocorrido..."
                    }
                },
                "type": "object"
            },
            "SispEnvolvido": {
                "title": "Sisp Envolvidos API Resource",
                "properties": {
                    "bop_id": {
                        "type": "integer",
                        "example": 12345
                    },
                    "nome": {
                        "type": "string",
                        "example": "João da Silva"
                    },
                    "nascimento": {
                        "type": "string",
                        "format": "date",
                        "example": "1980-01-01"
                    },
                    "mae": {
                        "type": "string",
                        "example": "Maria da Silva"
                    },
                    "cpf": {
                        "type": "string",
                        "example": "12345678900"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "description": "Use o token JWT para autenticar as requisições. O token deve ser enviado no header `Authorization` no formato `Bearer {token}`.",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            },
            "sanctum": {
                "type": "apiKey",
                "description": "Informe o token de acesso (Bearer <token>)",
                "name": "Authorization",
                "in": "header"
            }
        }
    },
    "tags": [
        {
            "name": "Autenticação",
            "description": "Endpoints relacionados à autenticação de usuários"
        },
        {
            "name": "Consulta de Registros Civis",
            "description": "Endpoints para consulta de registros civis do Estado do Pará"
        },
        {
            "name": "Consulta de Ocorrências SISP",
            "description": "Endpoints para consulta de ocorrências policiais no Estado do Pará"
        }
    ],
    "security": [
        {
            "sanctum": []
        }
    ]
}